@import "sass/color";
@import "sass/menu";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}
a{
  display:inline-block;
}


body{
  width: 100%;
  padding:1rem 4rem;
  
}

header{
  max-width: 1200px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 4rem;
  img{
    width: 8rem;
  }

  nav{
    display:flex; 
    flex-direction: row;
    gap: 2.5rem;
  }

  a{
    color: #3c3c3c;
  }
}

// .center{
//     display: none;
//   }

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1rem;
  width:100%;
}

main img{
  max-width:350px;
  margin-bottom: 2rem;
  animation: movement 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out ;
  animation-direction: alternate;
}

@keyframes movement {
  from{
    transform: translateY(3%);
  }to{
    transform: translateY(-3%)
  }
}

section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width:100%;

  article:nth-of-type(1){
    text-align: justify;
  }

  article:nth-of-type(2){
    display:flex;
    flex-direction: row;
    justify-content:center;
    // align-items: center;

    width:100%;
    height:auto;

    h1{
      color: $preto;
      font: 600 2.5rem 'Montserrat';
      letter-spacing: 0px;
    }

    a{
      background-color: $vermelho;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      width: 15rem;
      height: 3rem;
      padding: 10px;

      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items: center;

      font: 400 1rem 'Montserrat';
      margin-left: 1rem;

      transition: background .4s ease;
      &:hover{
        background-color: white;
        border: 2px solid $vermelho;
        color: $vermelho;
        font-weight: 600;
      }
    }


  }
}

article {
  padding: 1rem;

  h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: $vermelho;
  }
  h2{
    font: 600 1.3rem 'Montserrat';
    margin-bottom: .8rem;
  }

}

.stars{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  
  span{
    color: $vermelho;
    
  }
}

.value{
  font: 600 1.5rem 'Montserrat';
  margin-left: 2rem;
}

article .info{
  margin-bottom: 1rem;

  h3{
    font: bold 1.2rem 'Montserrat';
  }

  span{
    font: 600 1.1rem 'Montserrat';
    color: $cinza;
  }
}


.mini-grid{
  display:grid;
  grid-template-columns: 5rem auto;
  grid-template-rows:1fr 1fr 1fr ;
  gap: .9rem 0;

  max-width:400px ;
  background-color: rgba(235, 235, 164, 0.514);

  margin-inline: auto;
  padding: 1rem 3rem;

  justify-content: center;
  align-items: center;

  p{
    font-size: 1rem;
  }

  span:nth-of-type(3){
    transform: rotate(90deg) translate(1rem, 1.1rem);
  }
}





// RESPONSIVIDADE =============================
@media  screen and (min-width: 800px) {
  .center{
    display: flex;
    flex-direction: row;
    background-image: url(white,white);
    box-shadow: none;
    height: 0;
    width: 0;
    
      position:static;
    transition: none;

  }

  .center a{
    color: #222;
    opacity: .7;
    transition: .4s ease;
    // background-image: linear-gradient(to bottom, #fff, rgb(219, 216, 216));
    
    &:hover{
      color: #222;
      opacity:1;
    }

    
  }

  main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-inline: auto;
    border: 1px soldi red;
  }

  section {
    width:50%;
  }

  .mini-grid{
    width: auto;
    max-width: 1200px;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas: 
    ". sp1 p1 sp2 p2 sp3 p3 .";

    span:nth-of-type(3){
      transform: rotate(90deg) translate(0rem, 1.1rem);
    }
  }

  aside{
    span:nth-of-type(1){
      grid-area: sp1;
    }
    
    p:nth-of-type(1){
      grid-area: p1;
      margin-right: 2rem;
    }

    span:nth-of-type(2){
      grid-area: sp2;
    }
    p:nth-of-type(2){
      grid-area: p2;
      margin-right: 2rem;
    }


    span:nth-of-type(3){
      grid-area: sp3;
    }

    p:nth-of-type(3){
      grid-area: p3;
      margin-right: 2rem;
    }
  }

}